@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
  border: 1px solid rgba(var(--foreground-rgb), 0.4);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

button {
  border: 1px solid rgba(var(--foreground-rgb), 0.4);
  border-radius: 5px;
  background: rgba(var(--foreground-rgb), 0.1);
  padding: 0.2rem 0.5rem;
}
