@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 221 194 255;
  --primary-foreground: 0 0 0;

  --secondary: 0 0 0;
  --secondary-foreground: 221 194 255;

  --tertiary: 97 114 123;
  --tertiary-foreground: 0 0 0;

  --muted: 242 242 242;

  --background: 255 255 255;
  --foreground: 24 28 43;

  --muted-foreground: 136 139 150;
  --card: 255 255 255;
  --card-foreground: 24 28 43;
  --popover: 255 255 255;
  --popover-foreground: 24 28 43;
  --border: 217 217 217;
  --input: 217 217 217;

  --accent: 232 240 253;
  --accent-foreground: 24 28 43;
  --destructive: 255 0 0;
  --destructive-foreground: 245 248 255;
  --ring: 162 174 199;
  --active: 119 118 118 /*--radius: 0.5rem;*/;
}

a {
  color: inherit;
  text-decoration: underline;
}

[aria-invalid="true"] {
  box-shadow: -1px -13px 0 -10px #ff1f1f inset;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}
